@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Debug Outlines */
* {
    /* outline: 1px dashed #ff000080; */
}


/* Text Defaults for Headings and Paragraphs */
h1 {
    font-family: Inter;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    letter-spacing: -3px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-family: Inter;
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: bottom;
}

h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    vertical-align: bottom;
}

h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    vertical-align: middle;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #2D3436;
}


body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #2D3436;
}


/* Header Section Layout */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    height: 96px;
    width: 100%;

    box-shadow: 0px 4px 8px 0px #26323814, 0px 2px 4px 0px #26323829;
}


/* Website Logo Container */
header div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 18px;
}


/* Sign In Button Styles */
header button {
    border: none;
    width: 170px;
    height: 64px;
    border-radius: 999px;
    background: #6C5CE7;
}

header button p {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
    color: white;

    text-shadow: 0px 4px 8px #26323814, 0px 2px 4px #26323829;
}


/* Navigation Bar Container */
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}


/* Nav Links Styles */
nav a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #6C5CE7;
    width: 150px;
}


/* Decorative Dots in Nav Bar */
nav p {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    color: #FDCB6E;
    user-select: none;
}


/* Highlighted Nav Text */
.section-focused-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    color: #2D3436;
}


/* Main Section Wrapper */
.section-box {
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    max-width: 1170px;
    justify-self: center;
    padding: 0 135px;
}


/* Hero Section Container */
#combine-fine-images {
    margin: 80px auto;
    align-items: center;
    color: #2D3436;

    /* height: 1190px; */
}

#combine-fine-images h1 {
    text-shadow: 0px 4px 0px #FFFFFF;
}


/* Underline Highlight Effect */
.h1-highlight {
    color: #D63031;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg width='191' height='51' viewBox='0 0 191 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='191' height='51' rx='25.5' fill='%2355EFC4'/%3E%3C/svg%3E%0A");
    background-position: 0 0.74em;
    background-size: contain;
}


/* Background Decorative Elements */
#bg-big {
    position: absolute;
    right: 0;
    top: -20px;
    opacity: 40%;
    z-index: -2;
}

#bg-dots {
    position: absolute;
    right: 0;
    top: 114px;
    z-index: -1;
}


/* Grid of Photos Layout */
.body {
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 30px;
    margin-top: 64px;
    aspect-ratio: 4 / 3;
}

.parent div {
    border-radius: 20px;
    padding: 16px;
}


/* Edited to Fit Height of Text */
.div1 {
    grid-column: span 3 / span 3;
    /* grid-row: span 2 / span 2; */

    padding: 0 !important;
}


/* Edited to Span Further Down */
.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 7 / span 7;
    grid-column-start: 1;
    grid-row-start: 2;
    background-image: url(../assets/raster/Sphere.png);
    background-size: cover;
    background-position: center;

    padding-top: 32px !important;
}


/* Grid Header Text Styles */
.grid-header {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
}


/* Grid Subheader Text Styles */
.grid-subheader {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: center;
    color: white;
}


/* Grid Title Text Styles */
.grid-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    text-shadow: 0px 4px 0px #000000;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 9;

    padding: 0 !important;
}


/* Button in Div3 */
.div3 button {
    border: none;
    width: 100%;
    height: 64px;
    border-radius: 999px;
    background: #6C5CE7;
}

.div3 button p {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
    color: white;

    text-shadow: 0px 4px 8px #26323814, 0px 2px 4px #26323829;
}


/* Div4 Background and Layout */
.div4 {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 1;

    background-image: url(../assets/raster/Consider.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Div5 Background Image */
.div5 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 6;

    background-image: url(../assets/raster/Change.png);
    background-size: cover;
    background-position: center;
}

/* Div6 Background and Layout */
.div6 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 7;
    grid-row-start: 6;

    background-image: url(../assets/raster/Goal.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Div7 Positioning and Padding */
.div7 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 2;

    padding: 0 !important;
}

/* Div8 Background Image */
.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    grid-row-start: 3;

    background-image: url(../assets/raster/A.png);
    background-size: cover;
    background-position: center;
}

/* Div9 Background Image */
.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 11;
    grid-row-start: 3;

    background-image: url(../assets/raster/Nike.png);
    background-size: cover;
    background-position: center;
}

/* Div10 Background Image */
.div10 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 11;
    grid-row-start: 6;

    background-image: url(../assets/raster/Window.png);
    background-size: cover;
    background-position: center;
}


/* Delivering Section Container */
#delivering {
    display: flex;
    padding-bottom: 80px;
    /* padding: 135px; */
    /* padding: 80px 135px; */
}

/* Delivering Paragraph Text Styles */
.delivering-p {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    vertical-align: middle;
}

/* Grid of Articles in Delivering */
.delivering-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

/* Individual Article Container */
.delivering-articles article {
    height: 100%;
}

/* Article Header Text Styles */
.article-header {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    vertical-align: middle;
    margin-top: 24px;
}

/* Article Body Copy Styles */
.article-p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 16px 0;
}

/* Article Button Styles */
.article-button {
    border: 1px solid #ADADAD;
    padding: 8px 16px;
    border-radius: 16px;
    background: none;
    margin-top: auto;

    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    color: #6C5CE7;
}

/* Pricing Section Container */
#pricing {
    /* margin: 80px 0; */
    display: flex;
    width: 100%;

    padding: 0 !important;
}

/* Pricing Section Subtitle */
#pricing h4 {
    text-align: center;
    margin-top: 34px;
    color: #ADADAD;
}

/* Highlight Underline for Pricing Subtitle */
.h4-highlight {
    color: #6C5CE7;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg width='126' height='12' viewBox='0 0 126 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='126' height='12' rx='6' fill='%23FDCB6E'/%3E%3C/svg%3E");
    background-position: 0 0.82em;
    background-size: contain;
}

/* Grid of Pricing Cards */
.pricing-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    gap: 30px;
}

/* Individual Pricing Card Container */
.pricing-cards article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    padding: 32px;
    background-color: white;
}

/* Emphasis for Best Plan Card */
.best {
    box-shadow: 0px 16px 24px 0px #26323814, 0px 8px 8px 0px #2632381F;
}

/* Best Plan Header Layout */
.best-header {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

/* Badge in Best Plan Header */
.best-header span {
    border: 1px solid #6C5CE7;
    padding: 8px 16px;
    border-radius: 999px;
    background: none;

    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
}

/* Column of Details in Pricing Card */
.pricing-cards div {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

/* Pricing Plan Name Text */
.pricing-plan {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: #6C5CE7;
}

/* Price Display Text */
.pricing-price {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 0.75;
    letter-spacing: -1px;
    vertical-align: middle;
}

/* Price Unit Text */
.pricing-price span {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    vertical-align: bottom;
    text-transform: uppercase;
}

/* Button in Pricing Card */
.pricing-cards button {
    border: 1px solid #ADADAD;
    padding: 14px 16px;
    border-radius: 16px;
    background: none;

    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    color: #6C5CE7;
}

/* Call to Action Button in Best Plan */
.best button {
    background-color: #6C5CE7;
    color: white;
    border: none;

    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
}

/* List of Features in Pricing Card */
.pricing-cards ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

/* Individual Feature Item */
.pricing-cards li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    gap: 16px;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
}

/* Decorative SVG Positioning */
#pricing svg {
    position: relative;
    bottom: 96px;
    left: 370px;

    z-index: -1;
}

/* Footer Layout */
footer {
    display: flex;
    width: 100%;
    position: relative;

    padding: 0 !important;
}

.footer-whole {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: auto auto;
    gap: 30px;

    margin-bottom: 80px;
}

.footer-div1 ul {
    display: flex;
    gap: 37px;
}


.footer-div2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links a {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    vertical-align: middle;
    text-decoration: none;
    color: #2D3436;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* .footer-div3 {
    grid-column-start: 2;
    grid-row-start: 1;
} */

.footer-div3 a {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    vertical-align: bottom;
    color: #6C5CE7;
    text-decoration: none;
}

.footer-div4 {
    grid-row-start: 2;
}


footer h4 {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ADADAD;
    margin-bottom: 16px;
}


.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.btn-send {
    padding: 22px 16px;
    border-radius: 16px;
    border: none;
    background-color: #6C5CE7;

    width: 170px;

    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;

    color: white;

    text-shadow: 0px 4px 8px #26323814, 0px 2px 4px #26323829;
    box-shadow: 0px 16px 32px 0px #26323814, 0px 8px 24px 0px #2632381A;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
    background-color: #F1F1F1;

    padding: 8px 16px;
    border: none;
    border-radius: 16px;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.input-group input::placeholder {
    color: #2D3436;
}

.input-group textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: #F1F1F1;

    padding: 8px 16px;
    border: none;
    border-radius: 16px;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;

    resize: none;
}

.input-group textarea::placeholder {
    color: #2D3436;
}

.icon {
    position: absolute;
    transform: translate(-40px, 3px);
}

.wave {
  position: relative;       /* so left/transform apply in page flow */
  width: 100vw;             /* exactly viewport width */
  left: 50%;                /* shift its left edge to center point */
  transform: translateX(-50%); /* recenter a 100vw-wide element */
  margin-top: -1px;         /* optional: remove tiny gap if any */
  overflow: hidden;         /* hide any SVG overflow */
}

/* stretch the SVG to exactly fill that container */
.wave svg {
  display: block;
  width: 100%;
  height: auto;
}

/* optional: avoid a horizontal scrollbar from 100vw */
body {
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
    header nav {
        display: none;
    }

    .pricing-cards {
        grid-template-columns: 1fr;
    }

    #pricing svg {
        display: none;
    }

    .footer-whole {
        grid-template-columns: 1fr;
    }

    .footer-div4 {
        display: none;
    }
}